:root {
  --main-color: #e4f0cd;
  --secondary-color: #f283b6;
  --back-color: #ffffff;
  --text-color: #101816;
  --maintext-color: #000000;
}

body {
  background-color: var(--back-color);
}
.hero {
  background-color: var(--main-color);
  text-align: center;
  padding: 160px 20px;
}
h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 96px;
  color: var(--maintext-color);
  line-height: 1.5;
}
h2 {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 64px;
  color: var(--maintext-color);
}
h4 {
  font-size: 48px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--text-color);
  margin: 0;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color);
  line-height: 2;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.content h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--back-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-brandin-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--main-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  color: var(--secondary-color);
  margin: 0 20px;
  background: rgba(94.9%, 51.37%, 71.37%, 10%);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--back-color);
  background: var(--secondary-color);
}

footer .email-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: var(--maintext-color);
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 26px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
img {
  border-radius: 4px;
}
nav {
  background-color: #e4f0cd;
  color: var(--text-color);
  text-decoration: none;
}
.navbar-brand {
  color: var(--secondary-color);
}
.nav-link {
  color: var(--text-color);
}
.current {
  color: var(--secondary-color);
}
nav i {
  color: var(--secondary-color);
}
