:root {
  --main-color: #e4f0cd;
  --secondary-color: #f283b6;
  --back-color: #ffffff;
  --text-color: #101816;
  --maintext-color: #000000;
}

body {
  background-color: var(--back-color);
  text-align: center;
}
.hero {
  background-color: var(--main-color);
  padding-bottom: 270px;
}
h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  color: var(--maintext-color);
  margin-bottom: 36px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--text-color);
  margin-top: 194px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 36px;
}
.main-button {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
  color: var(--back-color);
  margin-bottom: 270px;
  margin: 10px auto;
}
nav {
  background-color: #e4f0cd;
  color: var(--text-color);
  text-decoration: none;
}
.navbar-brand {
  color: var(--secondary-color);
}
.nav-link {
  color: var(--text-color);
}

.active {
  color: var(--secondary-color);
}
h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 64px;
  color: var(--maintext-color);
  text-align: center;
}
.about {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
  text-align: start;
  font-style: normal;
  margin-top: 54px;
}
img {
  border-radius: 4px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 27px;
  margin-top: 127px;
  margin-bottom: 80px;
}
.project-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  color: var(--secondary-color);
  border-radius: 4px;
  border: 2px solid #f283b6;
  padding: 18px 30px;
  text-align: center;
  width: 200px;
}
.projects-button {
  color: var(--back-color);
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
}
.about-info {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color);
  margin-top: 0;
  text-align: left;
}
.about {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--text-color);
  margin-top: 28px;
  margin-bottom: 48px;
}
.work-heading {
  color: var(--maintext-color);
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-align: start;
  max-width: 825px;
  margin-left: 140px;
  margin-top: 150px;
}
work-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: var(--maintext-color);
  margin-top: 16px;
  margin-bottom: 9px;
}
